 #Task_1
- SIRSS1194
- Anurag Mhatre

#1.
###5 5 5 5 5
###5 5 5 5
###5 5 5
###5 5
###5

In [2]:
n = int(input("Choose a number of rows"));
for i in range(n,0,-1):
  for j in range(1,i+1):
    print("5" , end =" ");
  print("\n");

Choose a number of rows5
5 5 5 5 5

5 5 5 5

5 5 5

5 5

5

#2.
###0 1 2 3 4 5
###0 1 2 3 4
###0 1 2 3
###0 1 2
###0 1

In [3]:
n = int(input("Choose a number of rows"));
for i in range(n,0,-1):
  for j in range(0,i+1):
    print( j , end =" ");
  print("\n");

Choose a number of rows5
0 1 2 3 4 5

0 1 2 3 4

0 1 2 3

0 1 2

0 1

#3.
###1
###3 3
###5 5 5
###7 7 7 7
###9 9 9 9 9

In [4]:
n = int(input("Choose a number of rows"));
i=1
while i <= n :
  j=1
  while j <=i :
    print((i * 2 - 1) , end=" ")
    j += 1
  i += 1
  print()

Choose a number of rows5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

#4.
###1
###2 1
###3 2 1
###4 3 2 1
###5 4 3 2 1

In [5]:
n = int(input("Enter  rows: "))
for i in range(0, n+1):      #columns
    for j in range(i,0,-1):  #rows
      print(j, end=' ')
    print()

Enter  rows: 5

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

#5.
###1
###3 2
###6 5 4
###10 9 8 7

In [6]:
  a = 1
  b = 2
  n = b
  for r in range(2,6):
    for c in range(a,b):
      n -= 1
      print(n , end = " ")
    print("")
    a = b
    b += r
    n = b

1
3 2
6 5 4
10 9 8 7

#6.
###1
###1 1
###1 2 1
###1 3 3 1
###1 4 6 4 1
###1 5 10 10 5 1
###1 6 15 20 15 6 1

In [7]:
def triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_no(i, j), end=" ")
        print()


def decide_no(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

rows = 7
triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

#7.
###1 2 3 4 5
###2 2 3 4 5
###3 3 3 4 5
###4 4 4 4 5
###5 5 5 5 5

In [8]:
n = int(input("Enter the number of rows:"))
for i in range(1, n+1):
  for j in range(1, n+1):
    if j<=i:
      print(i,end=' ')
    else:
      print(j,end=" ")
  print()

Enter the number of rows:5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

###8.
###1
###2 4
###3 6 9
###4 8 12 16
###5 10 15 20 25
###6 12 18 24 30 36
###7 14 21 28 35 42 49
###8 16 24 32 40 48 56 64

In [9]:
n = int(input("Enter the rows:"))
for i in range(1, n+1):
  for j in range(1, i+1):
    print(i*j, end=' ')
  print()

Enter the rows:5
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25

###9.
        * * * * * *  
         * * * * *  
          * * * *  
           * * *  
            * *  
             *

In [10]:
n = 5
k = 2*n-2
for i in range(n, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print(" ")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

###10
              *  
             * *  
            * * *  
           * * * *  
          * * * * *  
         * * * * * *  
        * * * * * * *  
       * * * * * * * *

In [12]:
n = int(input("Enter rows:"))
m = 2*n-2
for i in range(0,n):
    for j in range(0,m):
        print(end=" ")
    m = m-1
    for j in range(0, i + 1):
        print("*", end=" ")
    print(" ")

Enter rows:8
              *
             * *
            * * *
           * * * *
          * * * * *
         * * * * * *
        * * * * * * *
       * * * * * * * *

###11.

In [13]:
n = int(input("Enter rows:"))

#1st pattern

for i in range(0,n):
  for j in range(0,i+1):
    print("*",end=" ")
  print(" ")

print("                 ")
#2nd pattern
for i in range(n+1,0,-1):
  for j in range(0,i-1):
    print("*",end=" ")
  print(" ")

Enter rows:7
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

###12.

In [14]:
rows = 5
for i in range(5):
    for j in range(i):
        print("*", end=' ')
    print()

for k in range(5, 0, -1):
    for l in range(k, 0, -1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

###13.

In [15]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

###14.

In [16]:
row = int(input("Enter number rows:"))
k = rows-2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k+1
    for j in range(0, i+1):
        print("*", end=" ")
    print()
    
k = 2*rows -2
for i in range(0, rows+1):
    for j in range(0,k):
        print(end=" ")
    k = k-1
    for j in range(0, i+1):
        print('*', end=" ")
    print()

Enter number rows:5
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *
        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *

###15.

In [17]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*